/* estilos base *************/
*{
    margin: 0%;
    border: 0%;
    padding: 0%;
    box-sizing: border-box;
}

.container-fluid{
    padding: 0%;
}

body{
    font-family: 'Poiret One', cursive;
    font-weight: bold;
}

/* estilos header *************/



nav{
    background-color: rgb(221, 127, 5);
    padding: 20px 15px ;
}

nav>div{
    padding: 15px;
}

nav #logo{
    width: 150px;
    background-color: white;
    border-radius: 50%;
    border: 4px solid rgb(97, 8, 8);
}

nav #logo:hover{
    transform: rotate(180deg);
    background-color: black;
}

nav .fa-bars{
    font-size: 2rem;
}



.nav-item{
    list-style: none;
    font-size: 1.2rem;
    font-size: 1.8rem;
    
}

.nav-link{
    color: white;
    text-decoration: none;
}

.nav-link:hover{
    background-color: black;
    color: rgb(238, 255, 0);
    border-radius: 10px;    
}

/* estilos index *************/


#bodyIndex main{
    text-align: center;
    padding: 0%;
}

#bodyIndex h2{
    margin-top: 3%;
}

#bodyIndex h1{
    margin-top: 2%;
    color: tomato;
    background-color: black;
    display: inline-block;
    padding: 5px opx;
}

#tituloPrincipal{
    font-size: 4rem;
    letter-spacing: 3px;
}

#bodyIndex video{
    width: 50%;
    margin: 2% auto;
    border: 2px solid rgb(212, 122, 3);
    border-radius: 15px;
    background-color: black;
}

#bodyIndex main p{
    margin-top: 1.5%;
    font-size: 1.5rem;
}

/* estilos nosotros *************/




#bodyNosotros{
    background-size: cover;
    color: white;
    width: 100vw;
    background-image: url(../images/backs/jap9.jpg);
}




#nosotrosContainer h1, #nosotrosContainer h2{
    color: yellow;
}



#nosotrosSection{
    margin-top: 10%;
    text-align: right;
    width: 50%;
    margin-left: 50%;
}

#nosotrosContainer #raya{
    width: 90%;
    height: 2px;
    background-color: rgb(87, 87, 26);
    margin: 5% auto;
}

#mainNosotros{
    text-align: right;
    margin-top: 15px;
    border-radius: 15px;
    padding: 15px;
    width: 50%;
    
    
}

#nosotrosUl{
    border: 4px dashed tomato;
    margin-top: 25px;
    padding: 20px;
}


#nosotrosContainer h1{
    margin: 25px 0;
}


#nosotrosContainer ul li{
    text-decoration: dotted;
    display: block;
    margin-top: 10px;
    text-align: center;
    color: rgb(235, 150, 52);
}

#mainNosotros ul li{
    
    color: white;
    font-weight: bolder;
}

#nosotrosUl li{
    text-transform: uppercase;
}



/* estilos servicios *************/



/* estilos galería *************/



/* estilos contacto *************/




#bodyContacto{
    background-image: url(../images/backs/jap3.jpg);
    background-size: cover;
    background-position: center;
}

#bodyContacto h1{
    background-color:rgba(223, 115, 26, 0.3);
    padding: 20px;
    color: white;
    text-align: center;
    font-size: 3rem;
}

legend{
    margin-bottom: 15px;
    color: yellow;
    font-size: 2rem;
}

form{
    background-color: rgb(212, 122, 3);
    padding: 20px;
    border-radius: 15px;
    padding: 30px;
    /* max-width: 40%; */

    margin: 10px auto;
}

textarea{
    margin-top: 10px;

}


#botonBorrar {
    padding: 3px 25px;
    font-size: 1.2rem;
    background-color: rgb(231, 217, 17);
    border-radius: 10px;
    display: block;
    
}

#botonEnviar{
    padding: 8px 10px;
    background-color: black;
    font-size: 2rem;
    border-radius: 10px;
    color: white;
    width: 45%;
    margin-top: 5%;
}

#terminos{
    width: 50px;
}

/* Estilos Footer *************/


footer{
    grid-area: footer;
    background-color: rgb(15, 8, 1);
    padding: 4%;
    width: 100%;
    margin-top: 3%;
    text-align: center;
    color: white;
    background-position: center;
    background-size: contain;
    font-size: 1.5rem;
    /* background-color: rgba(7, 7, 7, 0.781); */
}

footer img{
    width: 3rem;
    margin-left: 40px;
    margin-top: 10px;
    border-radius: 10px;
    border: 2px solid black;
}

footer p{
    margin-top: 10px;
}

 footer i{
    color: rgb(190, 110, 5);
    font-size: 4rem;
    margin-left: 20px;
}

footer i:hover{
    transform: scale(1.5);
}